<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Django</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        .container {
            width: 90%;
            margin: auto;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Contact</h1>
        <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }}
        
            <button>Submit</button>
        </form>
    </div>
    
</body>
</html>